<div class="row">
	<div class="col-xs-4">
		<img class="img-responsive img-rounded" src="../../content/img/honeymoon_ronda_1.jpg" alt="Adam and wife Rachel on honeymoon in Ronda, Spain">
	</div>
	<div class="col-xs-8">
		<p>I am a software engineer focused on always delivering the best experience for my customers. I enjoy working with a diverse team of product owners, project managers, and engineers to understand the needs of the customer, architect a solution, and deliver a powerful yet simple implementation. In my current role, I am developing the next generation of Dell's Premier eCommerce platform, providing a highly customized, performant, and intuitive experience to Dell's largest customers. Day to day, I am conducting code reviews on incoming changes to the platform, assisting other developers with solutioning efforts, and developing new features. Most of my development work is primarily in the .NET WebAPI middle tier and AngularJS UX layer, with some work in the backend data indexing application as well.</p>

		<p>My passion for delivering the best solution for the customer in a timely manner drives me to always develop my relationships with the customer-facing part of the business, as well as our application product owners. This relationship allows me to excel at clarifying requirements, enabling the engineering solution to be delivered on time, on target, and fitted precisely to the needs of the customer.</p>

		<p>I believe in engineering for humans. To me, whether the code works is only half the battle. What differentiates good code from bad code is whether or not other people can read it, understand it, and maintain it. To that end, I always strive to architect solutions and write code which lean towards simplicity and low cognitive load. This is also something I emphasize to other developers who I mentor or whose code I review; code should read like human language, be self-explanatory, and be clearly expressive of its intent and purpose.</p>

		<p>In my free time, I play ultimate frisbee and soccer, enjoy competitive gaming, and love to read. My wife and I enjoy traveling abroad and are always looking forward to our next destination.</p>
	</div>
</div>